*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#imag{
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 1;
}

.overlay{
    position: absolute;
    width: 50%;
    height: 800px;
    background: black;
    z-index: 2;
    opacity: 50%;
    transition: 0.25s;
}

.overlay:hover{
    opacity: 0%;
}

.back{
    position: fixed;
    outline: none;
    display: block;
    font-size: 20px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    width: 80px;
    border-radius: 5px;
    color: white;
    background-color: black;
    z-index: 2;
    margin-top: 6px;
    margin-left: 1449px;
}
a{
    text-decoration: none;
}

